
<title><%=title%></title>
<%- include("./template/header.ejs") %>


<% let lastId = 0 %>
<%
    data.forEach((item) => {
      if (item.id_product > lastId) {
        lastId = Number(item.id_product);
      }
    }); %>
<div class="formulario__agregar">
    <div class="formulario__title">Datos del material</div>
    <form method="POST" action="/add">
        <label for="id_product">ID:</label> 
        <input type="number" required readonly name="id_product" id="id_product" placeholder="ID" value="<%= lastId+1 %>">
        <label for="name">Nombre:</label> 
        <input type="text" required name="name"  id="name" placeholder="Nombre del material">
        <label for="price">Precio:</label> 
        <input type="number" required name="price"  id="price" placeholder="Precio del material">
        <label for="number">Cantidad:</label> 
        <input type="number" required name="number"  id="number" placeholder="Cantidad del material">
        <label for="description">Descripcion:</label> 
        <input type="text" required name="description"  id="description" placeholder="Descripcion del material">
        <label for="brand">Marca:</label> 
        <input type="text" required name="brand"  id="brand" placeholder="Marca del material">
        

        <div class="container__buttons">

            <button type="submit" class="button button--success">Agregar</button>
    
            <button type="submit" name="accion" value="Cancelar" class="button button--info"><a href="/" class="button--a">Cancelar</a></button>
        </div>
    </form>
</div>

<script src="js/bootstrap.min.js"></script>
</body>
</html>